Repository bernardopacini/ReadTheRecipe, pull requests merged in 2022-08, with the labels that each got.

#24 Fresh Strawberry Cobbler Recipe
  source/dessert/index.rst
  source/dessert/strawberryCobbler.rst
Labels: dessert, taste-test approved

#25 Adding category for side dishes
  source/appetizer/index.rst
  source/index.rst
  source/side/index.rst
Labels: maintenance

#26 Adding Baked Gnocchi recipe
  source/pasta/bakedGnocchi.rst
  source/pasta/index.rst
Labels: pasta, taste-test approved

#27 Formatting and README Fixes
  README.md
  source/casserole/enchiladas.rst
  source/meat/garlicPorkBites.rst
  source/meat/honeyMustardPorkTenderloin.rst
  source/meat/salsaChicken.rst
  source/pasta/bakedGnocchi.rst
  source/pasta/bolognese.rst
  source/pasta/carbonara.rst
  source/soup/alphabetSoup.rst
  source/soup/fiveIngrWhiteChickenChili.rst
Labels: maintenance, formatting

#23 Vegan chili
  README.md
  source/meat/bakedRibs.rst
  source/soup/index.rst
  source/soup/veganChili.rst
Labels: soup, taste-test approved

#28 Adding Chicken and Vegetable Skillet
  README.md
  source/meat/chickenVeggieSkillet.rst
  source/meat/index.rst
Labels: meat, taste-test approved
