Repository bernardopacini/ReadTheRecipe, pull requests merged in 2022-02, with the labels that each got.

#11 Adding Italian flag cod
  source/seafood/index.rst
  source/seafood/italianFlagCod.rst
Labels: seafood, taste-test approved

#14 Adding banana bread recipe
  source/dessert/bananaBread.rst
  source/dessert/index.rst
Labels: dessert, taste-test approved

#13 Adding crockpot salsa chicken recipe
  source/meat/index.rst
  source/meat/salsaChicken.rst
Labels: meat, taste-test approved

#18 Adding casserole category
  source/breakfast/bernardoPancakes.rst
  source/casserole/index.rst
  source/index.rst
Labels: maintenance, casserole

#17 Honey Mustard Garlic Pork Tenderloin
  source/meat/honeyMustardPorkTenderloin.rst
  source/meat/index.rst
Labels: meat, taste-test approved

#19 Adding Enchiladas Recipe
  source/casserole/enchiladas.rst
  source/casserole/index.rst
  source/seafood/bakedSalmon.rst
Labels: taste-test approved, casserole

#20 Updating Kitchen Staff description adding copyright note
  README.md
  source/casserole/index.rst
Labels: maintenance
