Repository bernardopacini/ReadTheRecipe, pull requests merged in 2022-01, with the labels that each got.

#2 Added soup category with basic White Chicken Chili
  source/index.rst
  source/soup/fiveIngrWhiteChickenChili.rst
  source/soup/index.rst
Labels: soup

#3 Adding Carbonara Recipe
  source/breakfast/pancakes.rst
  source/meat/index.rst
  source/meat/stuffingChickenBake.rst
  source/pasta/carbonara.rst
  source/pasta/index.rst
  source/soup/fiveIngrWhiteChickenChili.rst
  source/soup/index.rst
Labels: pasta, formatting

#4 Alphabet soup
  source/soup/alphabetSoup.rst
  source/soup/index.rst
Labels: soup, taste-test approved

#9 Updating the README
  .gitignore
  .vscode/settings.json
  README.md
Labels: bug, maintenance, formatting

#7 Adding various meat cook times
  source/breakfast/pancakes.rst
  source/index.rst
  source/meat/bakedChicken.rst
  source/meat/bakedPorkChop.rst
  source/meat/bakedRibs.rst
  source/meat/bakedSausage.rst
  source/meat/index.rst
  source/meat/stuffingChickenBake.rst
  source/seafood/bakedSalmon.rst
  source/seafood/index.rst
Labels: meat, seafood, taste-test approved

#5 Strawberry Pudding Popsicles
  source/dessert/index.rst
  source/dessert/strawberryPuddingPopsicle.rst
Labels: dessert, taste-test approved

#10 Bernardo's Pancake Recipe
  source/breakfast/bernardoPancakes.rst
  source/breakfast/index.rst
  source/breakfast/jennaPancakes.rst
  source/meat/bakedRibs.rst
Labels: breakfast, formatting, taste-test approved
