Repository bernardopacini/ReadTheRecipe, pull requests merged in 2023-11, with the labels that each got.

#38 Formatting Standardization
  .readthedocs.yaml
  requirements.txt
  source/breakfast/pancakes.rst
  source/dessert/bananaBread.rst
  source/dessert/cheesecakeTopping.rst
  source/dessert/strawberryCobbler.rst
  source/dessert/strawberryPuddingPopsicle.rst
  source/meat/bakedChicken.rst
  source/meat/garlicPorkBites.rst
  source/meat/stuffingChickenBake.rst
  source/pasta/bakedGnocchi.rst
  source/pasta/brusselSproutGnocchi.rst
  source/soup/butternutSquashSoup.rst
  source/soup/veganChili.rst
Labels: maintenance, formatting

#39 Adding Brownie Recipe
  source/dessert/brownies.rst
  source/dessert/index.rst
Labels: dessert, taste-test approved

#40 Garlic Parmesan Chicken Tenders
  source/meat/garlicParmChickenTenders.rst
  source/meat/index.rst
Labels: meat, taste-test approved
