Repository bernardopacini/ReadTheRecipe, pull requests merged in 2023-08, with the labels that each got.

#33 Fixing missing ingredient in steps of carbonara recipe
  source/pasta/carbonara.rst
Labels: bug, pasta

#34 Cheesecake recipe
  README.md
  source/dessert/cheesecakeTopping.rst
  source/dessert/index.rst
Labels: dessert, taste-test approved

#37 Remove Pancake Recipe
  source/breakfast/bernardoPancakes.rst
  source/breakfast/index.rst
  source/breakfast/pancakes.rst
Labels: duplicate, breakfast, maintenance
